/*


        background-image: radial-gradient("touchingthehand.jpg")#EFD6F3 0%, #74E3F9 100%);
        @media screen and (width: 480px;
        max-width: 768 px) -webkit-font-smoothing: antialiased;

body{    border-bottom-left-radius: #333;
            padding-left: 70px;

            padding-top: 70px
                background-color: aqua;
                color: #74E3F9;
            }

            h1 {
                color: silver;
                text-align: center;
                align-content: space-around
            }

            font font-size-adjust: auto p {
                font-family: Dancing fantasy;
            }


        }

        h2 {
            background background-color: aquamarine;
            color: #FBFBDB
        }

        background-image: radial-gradient("touchingthehand.jpg")#EFD6F3 0%,
        #74E3F9 100%);

*/

 h1 {
                color: red;
                text-align: center;
                align-content: space-around
            }


a{
    float: right;
    align-content: space-between;
/*    margin-right: 10px;*/
}

